body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* overflow-y: scroll; */

}
header h1{
    font-size: 20px;
    text-align: center;
}

.letter-input-field{
    width:62px;
    height:62px;
    font-size: 40px;
    text-align: center;
}
.top-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#input-field-section{
    display: flex;
    justify-content: center;
}

#eliminate-letter-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.eliminate-letter-button{
    width:48px;
    height:48px;
    font-size: 32px;

}

#reset-btn{
    background-color: rgb(250, 77, 58);

}

#check-btn{
    background-color: green;
}

.eliminate-letter-button:active{
    background-color: red;
    /* color:red; */
    

}

.eliminate-letter-button.active{
    background-color: red;
    /* color:red; */
}

.output-container{
    text-align: center;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Adjust minmax and width as needed */
    gap: 10px; /* Adjust gap between items */
}